.game-details {
    position: relative;
    background-color: #8b8b8b;
    padding: 30px 0;
    min-height: 100vh;
    margin: auto;
    max-width: 90vw;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px;
    img {
        width: 100%;
        max-width: 1000px;
    }
    .back-btn {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.game-details .description {
    max-width: 80%;
    text-align: center;

    div {
        :last-child {
            margin-left: 10px;
        }
    }
    h4 {
        display: inline;
    }
    .read-more {
        color: #303030;
        cursor: pointer;
    }
    .full-desc {
        max-width: 200px;
    }
}
