.game-filter {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.game-filter>div {
    display: flex;
    flex-direction: column;
}

.game-filter>div select {
    padding: 3px 5px;
}